<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - NewsWise</title>
	<link href="~/css/family.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/NewsWise.styles.css" asp-append-version="true" />
	<link href="~/lib/bootstrap/dist/css/chagestyle.css" rel="stylesheet" />
</head>
<style>
        
</style>
<body>
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index" >NEWSWISE</a>
                <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav  ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" asp-area="" asp-controller="Home" >Education</a>
                            <ul class="dropdown-menu bg-white">
                                <li>
                                    <a class="dropdown-item body-content text-black" asp-area="" asp-controller="Home" asp-action="Definition" style="font-size:11px;text-decoration: underline;">The definition of fake news</a>
                                    <a class="dropdown-item body-content text-black" asp-area="" asp-controller="Home" style="font-size:11px;text-decoration: underline;">The existence of fake news</a>
                                    <a class="dropdown-item body-content text-black" asp-area="" asp-controller="Home" style="font-size:11px;text-decoration: underline;">The importance of identifying fake news</a>
                                    <a class="dropdown-item body-content text-black" asp-area="" asp-controller="Home" asp-action="SpotTip" style="font-size:11px;text-decoration: underline;">Tips to spot fake news</a>
                                    <a class="dropdown-item body-content text-black" asp-area="" asp-controller="Home" style="font-size:11px;text-decoration: underline;">Real life examples</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="NewsSpotter">News Spotter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Quiz">Quiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#C0C0B4">
        <div class="container">
            &copy; 2023 - NewsWise - 
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
