@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<style>
    body{
        background-color: black;
    }
    .aboutLearn{
        font-family:'Poppins-Medium';
        font-size:11px;
        color: #B3B3B3;
    }
    .aTopic{
        position:relative;
        left:140px;
    }
    .AboutTitle{
        font-family:'Poppins-semibold';
        color: #FFBB00;
        margin-top:-20px;
    }
    .Back{
        color: #708090;
        font-size:14px;
        font-family: 'Roboto-medium';
        position:relative;
        left:50px;
    }

    .aContent{
        font-family:Roboto-regular;
        position:relative;
        
        background-color:#D9D9D9
    }
    .Nav{
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }
    
</style>

<body>
    <div class="AboutContent body-content p-1 bg-black" style="margin-top:-23px;margin-left:-15px;margin-right:120px;" align="justify">
        <br/>
      <div class="aTopic">
        <p class="aboutLearn">Learn More</p>
        <h2 class="AboutTitle">About Us.</h2>
        
      </div>
      <br/>
      
        
   </div>
    <div class="aContent p-2"  align=center>
        <div class="Back" align=left>
            <p>
                <br />
                <a class="Nav" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
            </p>
        </div>
        <br />
        <div class="col-sm-10">
        <h1 align=left>Welcome to NEWSWISE.</h1>
        </div>
        <div class="col-sm-10 bg-white" >
            <div align=justify style="margin-left:20px;margin-right:20px;">
            <p >

                <br />
                <br />
                This is a platform dedicated to helping people educate themselves and spot fake news in today's fast-paced and constantly changing media landscape.
                <br />
                <br />
                Our mission is to empower individuals with the necessary tools and knowledge to navigate the complex world of news and media. With the proliferation of misinformation, propaganda, and fake news, it can be difficult to discern the truth from fiction. That's why we've developed a comprehensive resource center that provides users with the latest information, strategies, and techniques for identifying and verifying news sources.
                <br />
                <br />
                Our website is designed for people of all ages and backgrounds, and we believe that everyone has a role to play in combating fake news. Whether you're a student, a journalist, a social media user, or simply a concerned citizen, our website provides a wealth of resources to help you stay informed and stay vigilant.
                <br />
                <br />
                At the core of our website is a commitment to accuracy, objectivity, and transparency. We believe that everyone should have access to reliable and trustworthy news sources, and we work hard to ensure that our website provides the highest quality information possible.
                <br />
                <br />
                So if you're looking to educate yourself and become a more informed citizen, look no further than our website. With our help, you can learn to spot fake news and become a responsible consumer of information.
                <br />
                <br />
                Thank you for visiting, and we look forward to helping you on your journey towards media literacy.
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </p>
            </div>
        </div>
    </div>
</body>
