@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Real life article 1";
}
<style>
    .exam1{
        font-family:Poppins-medium;
        font-size:16px;
        color:#B3B3B3;
    }

    .examT1 {
        font-family: Poppins-semibold;
        color: white;
    }
    .ATopicInfo{
        position:relative;
        left:70px;
        margin-right:250px;
    }

    .Back6 {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }

    .Nav6 {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }
    .Author{
        color: #708090;
        font-size:16px;
        font-family:Poppins-medium;
    }
    .A1Text{
        font-family:Roboto-regular;
        font-size:16px;
    }
    .ImageContent{
        
        position:relative;
        left:15px;
    }
    .A1Image{
        position:relative;
        right:20px;
    }
</style>
<body>
    <div class="A1Topic bg-black" style="margin-top:-20px;margin-left:-15px;margin-right:-15px" >
        <br/>
        <div class="ATopicInfo">
        <p class="exam1">Real life example 1</p>
            <h2 class="examT1">Bill Murray Kicks Off Presidential Campaign South Carolina</h2>
        </div>
        <br/>
    </div>
    <div class="A1Content bg-white">
        <div class="A1Back" style="margin-right:50px" align="justify">

            <div class="Back6" >
                <br />
                <p>
                    <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Education">Education</a> > <a class="Nav6" asp-area="" asp-controller="Home" asp-action="RealLifeExamples">Real life examples</a> > <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Article1">Real life example 1</a>
                </p>
            </div>
            <div class="Author" align=right>
                    <p>By Matthew David Courtney     Mar 26,2023</p>
            </div>
        </div>
        <div class="ImageContent d-sm-inline-flex">
        <div class="A1Text" align=justify>
        <div class="A1CText" align=justify style="margin-right:40px;">
                    <p class="Atext"><a href="https://abcnews.com.co/bill-murray-kicks-off-presidential-campaign-south-carolina/" target="_blank">https://abcnews.com.co/bill-murray-kicks-off-presidential-campaign-south-carolina/</a></p>
                <br/>
                <b>Claim</b> - Bill Murray is running for the 2024 US Presidential Election
                <br/>
                <br/>
                <b>Status</b> - False
                <br />
                <br />
                <b>Category</b> - Intentional Fake News
                <br />
                <br />
                This is an article that appears at first glance to be from a credible source - ABC News.  However, there are several signs we can look for to quickly identify that this is indeed fake.
                <br />
                <br />
                <b>Check URL</b>
                <br/>
                Firstly, we can check the URL to the site.  Here, the url is abcnews.com.co.  This is different from both the Australian ABC news (abc.net.au) as well as the American version (abcnews.go.com).
                <br/>
                By identifying the site’s incorrect URL, we can see that the article is not from the source it claims to be.
                <br />
                <br />
                <b>Check Author</b>
                <br/>
                The author for this piece is Amanda Jones- a Master's student from the University of Florida.  However, with a quick Google search you can identify that there's no other information on this journalist available.  By checking the links to her social media page from the article, these links also don't work.  This is a strong sign that the true author is attempting to remain anonymous.
                <br />
                <br />
                <b>Check the Sources</b>
                <br/>
                The article provides several sources from their article.  However, these sources lead to generic pages that aren't relevant to this article.  One source leads to the State of South Carolina's website, another leads to a New York Times topic page.  Neither source is used to provide evidence.

            </div>
        </div>
        <div class="A1Image">
            <br/>
            <img src="~/image/ArticleNews1.png" style="width:480px; height:600px;"/></div>
        </div>
        <br/>
        <br/>
        <br />
        <br />
    </div>

</body>