@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Real life article 5";
}
<style>
    .exam1{
        font-family:Poppins-medium;
        font-size:13px;
        color:#B3B3B3;
    }

    .examT1 {
        font-family: Poppins-semibold;
        color: white;
    }
    .ATopicInfo{
        position:relative;
        left:70px;
        margin-right:250px;
    }

    .Back6 {
        color: #708090;
        font-size: 10px;
        font-family: 'Roboto-medium';
    }

    .Nav6 {
        color: #708090;
        font-size: 10px;
        font-family: 'Roboto-medium';
    }
    .Author{
        color: #708090;
        font-size:16px;
        font-family:Poppins-medium;
    }
    .A1Text{
        font-family:Roboto-regular;
        font-size:13px;
    }
    .ImageContent{
        display:flex;
        position:relative;
        left:15px;
    }
    .A1Image{
        position:relative;
        right:20px;
    }
</style>
<body>
    <div class="A1Topic bg-black" style="margin-top:-20px;margin-left:-15px;margin-right:-15px" >
        <br/>
        <div class="ATopicInfo">
        <p class="exam1">Real life example 5</p>
            <h2 class="examT1">Australia recommends against minors getting COVID-19 vaccination.</h2>
        </div>
        <br/>
    </div>
    <div class="A1Content bg-white">
        <div class="A1Back" style="margin-right:50px" align="justify">

            <div class="Back6" >
                <p>
                    <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Education">Education</a> > <a class="Nav6" asp-area="" asp-controller="Home" asp-action="RealLifeExamples">Real life examples</a> > <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Article5">Real life example 5</a>
                </p>
            </div>
            <div class="Author" align=right>
                    <p>By Matthew David Courtney     Mar 26,2023</p>
            </div>
        </div>
        <div class="ImageContent">
        <div class="A1Text" align=justify>
        <div class="A1CText" align=justify style="margin-right:80px;">
                <b>Claim</b> - The Australian Technical Advisory Group on Immunisation recommends against any minors from receiving the COVID-19 vaccination.

                <br/>
                <br/>
                <b>Status</b> - Misleading
                <br />
                <br />
                <b>Category</b> - Biased information
                <br />
                <br />
                On 8 February 2023, an Australian MP Craig Kelly posted on Twitter “ATAGI now recommends AGAINST all children 5 & under from being jabbed…” 
                <br/>
                While technically this statement is accurate, it is misleading as it could be interpreted in two potential ways:
                <br/>
                     - ATAGI recommends that no children under five should be vaccinated <br/>
                     - ATAGI don’t recommend that children need to be vaccinated
                <br/>
                Craig Kelly likely designed the post in a way to suggest the first point. <br/>
                The official ATAGI guidelines for this date can be found at the following link: <br/>
                <a href=" ​​https://archive.md/pw3HE#selection-859.0-874.0"> ​​https://archive.md/pw3HE#selection-859.0-874.0</a>
                <br/>
                The guidelines suggest that it’s ‘not recommended for children’, however this is different from the statement that it’s ‘recommended children shouldn’t be vaccinated.’
                <br />
                <br />
                While the Tweet has since been deleted, it can be viewed from the following link. <br/>
                <a href=" https://perma.cc/KXR2-ACRF"> ​​https://perma.cc/KXR2-ACRF</a>
                <br />
                <br />
                <b>Checking Official Information</b>
                <br/>
                While Craig Kelly being an official member of parliament, in some settings he could be seen as an official source of information- when it comes to vaccination recommendations Australia has official departments responsible for this.  These departments should be checked for accurate information, as they aim to present factual, non-biased information.
                <br />
                <br />
                <b>Looking for bias</b>
                <br/>
                Craig Kelly uses a variety of loaded words, encouraging certain viewpoints.   For example, writing certain words in all capital letters, or calling groups of people ‘chief warlocks’ or ‘cult’ leaders suggest that Kelly is both attempting to evoke emotion as well as using hyperbole and exaggeration.  While this doesn’t necessarily mean that the content is not factual- as in this case it technically is factual, it still does suggest that the content could easily be used to mislead the audience to incorrect conclusions.
            </div>
        </div>
        <div class="A1Image">
            <br/>
            <img src="~/image/Article5A.png" style="width:480px; height:600px;"/></div>
        </div>
        <br/>
        <br/>
        <br />
        <br />
    </div>

</body>
