@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Real life article 3";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Real life article 2";
}
<style>
    .exam1 {
        font-family: Poppins-medium;
        font-size: 16px;
        color: #B3B3B3;
    }

    .examT1 {
        font-family: Poppins-semibold;
        color: white;
    }

    .ATopicInfo {
        position: relative;
        left: 70px;
        margin-right: 250px;
    }

    .Back6 {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }

    .Nav6 {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }

    .Author {
        color: #708090;
        font-size: 16px;
        font-family: Poppins-medium;
    }

    .A1Text {
        font-family: Roboto-regular;
        font-size: 16px;
    }

    .ImageContent {

        position: relative;
        left: 15px;
    }

    .A1Image {
        position: relative;
        right: 20px;
    }
</style>
<body>
    <div class="A1Topic bg-black" style="margin-top:-20px;margin-left:-15px;margin-right:-15px">
        <br />
        <div class="ATopicInfo">
            <p class="exam1">Real life example 3</p>
            <h2 class="examT1">Australians Protest in support of Indonesia over reef dispute</h2>
        </div>
        <br />
    </div>
    <div class="A1Content bg-white">
        <div class="A1Back" style="margin-right:50px" align="justify">
            <br />
            <div class="Back6">
                <p>
                    <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Education">Education</a> > <a class="Nav6" asp-area="" asp-controller="Home" asp-action="RealLifeExamples">Real life examples</a>  >  <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Article3">Real life example 3</a>
                </p>
            </div>
            <div class="Author" align=right>
                <p>By Matthew David Courtney     Mar 26,2023</p>
            </div>
        </div>
        <div class="ImageContent d-sm-inline-flex">
            <div class="A1Text" align=justify>
                <div class="A1CText" align=justify style="margin-right:80px;">
                    <p>
                        <a href="https://perma.cc/WX23-5EN6" target="_blank">https://perma.cc/WX23-5EN6</a>
                        <br />
                        <b>Claim</b> - Australians staged a protest demanding that the Australian government reconciles a reef dispute with Indonesia.

                        <br />
                        <br />
                        <b>Status</b> - False
                        <br />
                        <br />
                        <b>Category</b>  - Intentional Fake News
                        <br />
                        <br />
                        Several YouTube video’s were posted which included a thumbnail image of a protest in Australia where people are calling for the Australian government to make a deal with Indonesia over a dispute with the Ashmore Reef.

                        <br />
                        The claim that Australian’s protested was rejected by the AFP fact check and classified as false.

                        <br />
                        <br />
                        <b>Reverse Google Image Search</b>
                        <br />
                        By reverse searching the images of the protest from this video, you can identify that these images were actually images of a protest in NSW over the Buchanan mosque. The images have been edited to make the protest appear to be related to Indonesia.

                        
                        <br />
                        <br />
                        <b>
                            Finding a reputable media source
                        </b>
                        <br />
                        Most protests within Australia have some form of media coverage.  The main claimants for this story were several YouTube videos.  By searching online for some other source, you can see that there is no mainstream media coverage.  This likely suggests that this story is misinformation.
                    </p>
                </div>
            </div>
            <div class="A1Image">
                <br />
                <br />
                <br />
                <iframe width="480" height="315" src="https://www.youtube.com/embed/unRTMYmqSnE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>

</body>