@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Real life article 4";
}
<style>
    .exam1 {
        font-family: Poppins-medium;
        font-size: 16px;
        color: #B3B3B3;
    }

    .examT1 {
        font-family: Poppins-semibold;
        color: white;
    }

    .ATopicInfo {
        position: relative;
        left: 70px;
        margin-right: 250px;
    }

    .Back6 {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }

    .Nav6 {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }

    .Author {
        color: #708090;
        font-size: 16px;
        font-family: Poppins-medium;
    }

    .A1Text {
        font-family: Roboto-regular;
        font-size: 16px;
    }

    .ImageContent {

        position: relative;
        left: 15px;
    }

    .A1Image {
        position: relative;
        right: 20px;
    }
</style>
<body>
    <div class="A1Topic bg-black" style="margin-top:-20px;margin-left:-15px;margin-right:-15px">
        <br />
        <div class="ATopicInfo">
            <p class="exam1">Real life example 4</p>
            <h2 class="examT1">Australian Beach requiring joggers to wear helmets</h2>
        </div>
        <br />
    </div>
    <div class="A1Content bg-white">
        <div class="A1Back" style="margin-right:50px" align="justify">

            <div class="Back6">
                <br />
                <p>
                    <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Education">Education</a> > <a class="Nav6" asp-area="" asp-controller="Home" asp-action="RealLifeExamples">Real life examples</a>  >  <a class="Nav6" asp-area="" asp-controller="Home" asp-action="Article4">Real life example 4</a>
                </p>
            </div>
            <div class="Author" align=right>
                <p>By Matthew David Courtney     Mar 26,2023</p>
            </div>
        </div>
        <div class="ImageContent d-sm-inline-flex">
            <div class="A1Text" align=justify>
                <div class="A1CText" align=justify style="margin-right:80px;">
                    <p>
                        <a href="https://www.facebook.com/permalink.php?story_fbid=pfbid02xrpVyKCxKFb4qCEaNm6daEygEbcLdZpkMPv3TB4W5hqu6LsCkumZES27pbZ4G5qdl&id=1095609470">https://www.facebook.com/permalink.php?story_fbid=pfbid02xrpVyKCxKFb4qCEaNm6daEygEbcLdZpkM<br/>Pv3TB4W5hqu6LsCkumZES27pbZ4G5qdl&id=1095609470</a>
                        <br />
                        <b>Claim</b> - A photo posted on Facebook of a sign at an Australian beach instructing that joggers must wear a helmet.
                        <br />
                        <br />
                        <b>Status</b> - False
                        <br />
                        <br />
                        <b>Category</b>  - Intentional Fake News, satire
                        <br />
                        <br />
                        An image by Barry Abrams on Facebook was posted on 17 February 2023 of a warning sign at an Australian beach saying that joggers must wear a helmet.
                        <br />
                        This image was edited as satire.
                        <br />
                        <br />
                        <b>Checking the Source</b>
                        <br />
                        This image was originally posted by Barry Abrams.  By looking through his Facebook page, it’s easily seen that he generally posts satirical images.
                        <br />
                        <br />
                        <b>Searching information online</b>
                        <br />
                        This claim is a simple ‘true’ or ‘false’ claim- in that there’s not really much space for it to be partially true or partially false.  Either the image was doctored or it wasn’t.  In these cases, it can be quick to search online for “joggers must wear a helmet, Bondi beach.”  By searching this, we can quickly find whether there is any other information available on this topic.
                    </p>
                </div>
            </div>
            <div class="A1Image">
                <br />
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid02xrxGbUvL9719sqGWswVxEDa5STs8pAtwHVjB6ttQXZMkMsL58sTHGj5TSxcGsCWvl%26id%3D1095609470&show_text=false&width=500" width="480" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
        <br />
        <br />
    </div>

</body>