@{
    ViewData["Title"] = "Education";
}
<style>
    .Etitle{
        font-family:Poppins-semibold;
        color: white;
        position:relative;
        left:10px;
    }
   
    .content1{
        font-family: Poppins-Semibold;
        position:relative;
        left:25px;
        color:black;
    }
    .ETable{
        font-family: Poppins-Semibold;
        position:relative;
        left:20px;
    }

    .eduBack{
        background-image: url('../Image/Back.png');
        background-repeat: no-repeat;
        background-size: 70% 100%;
        background-position: right center;
    }

    .Back2 {
        color: #708090;
        font-size: 10px;
        font-family: 'Roboto-medium';
        position:relative;
        left:20px;
    }

    .Nav2 {
        color: #708090;
        font-size: 10px;
        font-family: 'Roboto-medium';
    }
</style>

<body>
    <div class="EduTitle bg-black p-5 body-content" style="margin-top:-20px;margin-left:-15px;margin-right:-15px">
        <br/>  
        <h1 class="Etitle">@ViewData["Title"]</h1>
        <br />
    </div>
    <div class="eduBack">    
    <div class="EduContent p-2">
            <div class="Back2" >
                <p>
                    <a class="Nav2" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav2" asp-area="" asp-controller="Home" asp-action="Education">Education</a>
                </p>
            </div>
        <h2 class="ETable"> Contents</h2>
        <br/>
        <a class="content1" asp-area="" asp-controller="Home" asp-action="Definition"> The definition of fake news</a>
        <br/>
        <br />
        <a class="content1" asp-area="" asp-controller="Home" asp-action="Existence"> The existence of fake news</a>
        <br />
        <br />
        <a class="content1" asp-area="" asp-controller="Home" asp-action="Importance"> The importance of identifying fake news</a>
        <br />
        <br />
            <a class="content1" asp-area="" asp-controller="Home" asp-action="SpotTip"> Tips to spot fake news</a>
        <br />
        <br />
        <a class="content1" asp-area="" asp-controller="Home" asp-action="RealLifeExamples"> Real life examples</a>
        <br />
        <br />
    </div>
    <br />
    <br />
    </div>
</body>