@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsWise</title>
</head>
<body>
    <div class="text-center">
        <form method="post">
            <div class="form-group">
                <label for="password">
                    Enter the Secret Password!
                    <input type="password" class="form-control" id="password" name="password" required>
                </label>
            </div>
            <button type="submit" class="btn-success">Begin</button>
        </form>
    </div>
</body>
</html>