@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "News Spotter";
}
<style>
    body {
        background-color: black;
    }

    .aboutLearn {
        font-family: 'Poppins-Medium';
        font-size: 11px;
        color: #B3B3B3;
    }

    .aTopic {
        position: relative;
        left: 140px;
    }

    .AboutTitle {
        font-family: 'Poppins-semibold';
        color: #FFBB00;
        margin-top: -20px;
    }

    .Back {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
        position: relative;
        left: 50px;
    }

    .aContent {
        font-family: Roboto-regular;
        position: relative;
    }

    .Nav {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }

    .AnswerQ {
        font-family: 'Poppins-semibold';
        background-color: transparent;
        border: 0px solid;
        color: #FFBB00;
    }

    .Start {
        font-family: 'Poppins-semibold';
        color: #FFBB00;
    }

    .download {
        font-family: 'Poppins-semibold';
        background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%);
        border: 0px solid;
        border-radius: 4px;
    }

    .DownloadExtention {
        position: relative;
    }

    .tablinks {
        margin-left: 20px;
        margin-top: 10px;
        font-family: 'Poppins-semibold';
        background-color: #D9D9D9;
        border: 0px solid;
        border-radius: 4px;
    }

        .tablinks:hover {
            background: rgba(255, 187, 0, 0.2);
        }

        .tablinks:focus {
            background: rgba(255, 187, 0, 0.2);
        }

    .fixed-position {
        position: relative;
        left: 0;
        top: 0;
    }
</style>

<body>
    <div class="AboutContent body-content p-1 bg-black " style="margin-top:-23px;margin-left:-15px;margin-right:120px;" align="justify">
        <br />
        <div class="d-sm-flex">
            <div class="aTopic col-sm-6">
                <p class="aboutLearn">Try our</p>
                <br />
                <h2 class="AboutTitle">News Spotter.</h2>

            </div>
            <div class="DownloadExtention col-sm-6" align=right>
                <br />
                <br />
                <div class="DownloadExtention col-sm-12" align=right>
                    <a href="https://newswise.online/download/chrome" class="download p-2" style="color: inherit; text-decoration: none;">DOWNLOAD NOW</a>
                </div>
            </div>
        </div>
        <br />
    </div>

    <div class="aCon  p-2 " style="background-color:#F2F4F4; margin-left:-10px;margin-right:-10px" align=center>
        <div class="Back" align=left>
            <br />
            <p>
                <a class="Nav" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav" asp-area="" asp-controller="Home" asp-action="NewsSpotter">News Spotter</a>
            </p>
        </div>
        <div class="d-sm-flex col-sm-11">
            <div class="tab" align=left>

                <br />
                <button class="tablinks col-sm-10 p-2" style="width:200px;" onclick="openTab(event, 'Overview')">Overview</button>
                <button class="tablinks col-sm-10 dropdown-toggle p-2" style="width:200px;" onclick="toggleDropdown()">Install & Manage</button>
                <div id="dropdown" style="display: none;">
                    <button class="tablinks col-sm-10 p-2" style="width:200px;" onclick="openTab(event, 'Chrome')">Chrome</button>
                    <button class="tablinks col-sm-10 p-2" style="width:200px;" onclick="openTab(event, 'Edge')">Edge</button>
                    <button class="tablinks col-sm-10 p-2" style="width:200px;" onclick="openTab(event, 'Safari')">Safari</button>
                </div>
                <button class="tablinks col-sm-10 p-2" style="width:200px;" onclick="openTab(event, 'Privacy')">Privacy Policy</button>
                <br />
                <br />

            </div>

            <div id="Overview" class="aContent tab-pane col-sm-9 fixed-position  p-2 active " align=justify style="background-color:#F2F4F4;  margin-right:20px;">
                <h2 style="font-family:Poppins-semibold;">Overview<span style="font-family:Poppins-semibold;color:#FFBB00">.</span></h2>
                <p style="font-family:Roboto-regular">Our Browser extension helps you analyze the true and false ratings of news articles and provides you with relevant verification articles when you browse webpages. With the rise of fake news and misinformation, it can be difficult to determine what information is accurate and trustworthy. Our extension aims to assist you in making informed decisions by providing you with the necessary tools to verify the credibility of news articles.</p>
                <h4>Features</h4>
                <ul style="font-family:Roboto-regular">
                    <li>True and False Ratings: Our extension analyzes the news articles that you browse and provides you with a rating of its accuracy. This rating is based on various factors such as the source of the article, the tone of the language used, and the verifiability of the claims made in the article.</li>
                    <li>Relevant Verification Articles: In addition to providing you with a true or false rating, our extension also recommends relevant verification articles that you can use to confirm the accuracy of the news article. These verification articles are sourced from reputable and reliable news outlets and fact-checking websites.</li>
                    <li>Customizable Settings: Our extension allows you to customize your settings based on your preferences. You can choose which news sources you want to receive ratings for, and you can also adjust the sensitivity of the rating system to suit your needs.</li>

                </ul>
                <h4>Benefits</h4>
                <ul style="font-family:Roboto-regular">
                    <li>Saves Time: With our extension, you no longer have to spend time researching the accuracy of news articles manually. Our extension provides you with accurate and reliable information with just a few clicks.</li>
                    <li>Promotes Credible Journalism: By promoting the verification of news articles, our extension encourages journalists to produce accurate and truthful reporting.</li>
                    <li>Empowers Users: With the ability to determine the accuracy of news articles, our extension empowers users to make informed decisions about the information they consume.</li>

                </ul>
                <p style="font-family:Roboto-regular">By downloading and using our Chrome extension, you can become a more informed and responsible consumer of news.</p>
                <div class="DownloadExtention col-sm-12" align=right>
                    <a href="https://newswise.online/download/chrome" class="download p-2" style="color: inherit; text-decoration: none;">DOWNLOAD NOW</a>
                </div>
            </div>
            <br />
            <br />
            <div id="Privacy" class="aContent tab-pane  fixed-position col-sm-9  p-2 " align=justify style="background-color:#F2F4F4;  margin-right:20px; display:none">
                <h2 style="font-family:Poppins-semibold;">Privacy Policy<span style="font-family:Poppins-semibold;color:#FFBB00">.</span></h2>

                <p style="font-family:Roboto-regular">We take your privacy seriously and are committed to protecting your personal information. This privacy policy explains how we collect, use, and disclose information when you download and use our Google extension.</p>
                <h4>Data Collection</h4>
                <p style="font-family:Roboto-regular">
                    When you download and use our Google extension, we do not collect any personal information about you or your device. We do not track your browsing activity or save any information that can be used to personally identify you.
                </p>
                <h4>Data Sharing</h4>
                <p style="font-family:Roboto-regular">
                    We do not share any data that we collect with any third parties. We do not sell or rent your personal information to anyone.
                </p>
                <h4>Data Security</h4>
                <p style="font-family:Roboto-regular">
                    We take appropriate technical and organizational measures to ensure that your personal information is protected from unauthorized access, theft, or loss. We use secure servers and encryption to safeguard your data.
                </p>
                <h4>Changes to this Privacy Policy</h4>
                <p style="font-family:Roboto-regular">
                    We reserve the right to modify this privacy policy at any time. If we make any material changes to this policy, we will notify you by posting the updated policy on our website or through our Google extension.
                </p>
                <h4>Contact Us</h4>
                <p style="font-family:Roboto-regular">
                    If you have any questions or concerns about this privacy policy or our practices, please contact us.<br />
                    By using our Google extension, you agree to the terms of this privacy policy. If you do not agree with this policy, please do not use our Google extension.
                </p>
                <div class="DownloadExtention col-sm-12" align=right>
                    <a href="https://newswise.online/download/chrome" class="download p-2" style="color: inherit; text-decoration: none;">DOWNLOAD NOW</a>
                </div>
            </div>
            <br />
            <br />
            <div id="Chrome" class="aContent tab-pane col-sm-9 fixed-position p-2 " align=justify style="background-color:#F2F4F4; margin-right:20px; display:none">
                <h2 style="font-family:Poppins-semibold;">Install and manage extensions:<br />Chrome<span style="font-family:Poppins-semibold;color:#FFBB00">.</span></h2>

                <ol style="font-family:Roboto-regular">
                    <li>Download the extension (newswise.zip)<br /></li>
                    <br />
                    <li>Type in the URL search bar, "<span style="color:#FFBB00">chrome://extensions"</span><br /></li>
                    <br />
                    <li>
                        Turn on developer mode<br /><img class="col-sm-6" src="~/image/chromestep3.png" /><br />
                    </li>
                    <br />
                    <li>
                        Unzip the downloaded folder.
                    </li>
                    <br />
                    <li> Select “Load unpacked”<br /><img class="col-sm-6" src="~/image/chromestep4.png" /><br /></li>
                    <br />
                    <li>
                        Find and open the correct folder “newswise_extension”. This folder
                        should contain the file “content.js” and the folder “icons”<br /><img class="col-sm-6" src="~/image/chromestep5.png" /><br />
                    </li>
                    <br />
                    <li>Ensure you turn on the extension.<br /><img class="col-sm-6" src="~/image/chromestep6.png" /><br /></li>
                    <br />
                </ol>
                <div class="DownloadExtention col-sm-12" align=right>
                    <a href="https://newswise.online/download/chrome" class="download p-2" style="color: inherit; text-decoration: none;">DOWNLOAD NOW</a>
                </div>
            </div>
            <br />
            <br />
            <div id="Edge" class="aContent tab-pane col-sm-9 fixed-position p-2 " align=justify style="background-color:#F2F4F4; margin-right:20px; display:none">
                <h2 style="font-family:Poppins-semibold;">Install and manage extensions:<br />Edge<span style="font-family:Poppins-semibold;color:#FFBB00">.</span></h2>

                <ol style="font-family:Roboto-regular">
                    <li>Download the extension (newswise.zip)<br /></li>
                    <br />
                    <li>Type in the URL search bar, "<span style="color:#FFBB00">edge://extensions"</span><br /></li>
                    <br />
                    <li>
                        Turn on developer mode<br /><img class="col-sm-6" src="~/image/edgestep33.png" /><br />
                    </li>
                    <br />

                    <li>
                        Unzip the downloaded folder.
                    </li>
                    <br />
                    <li> Select “Load unpacked”<br /><img class="col-sm-6" src="~/image/edgestep4.png" /><br /></li>
                    <br />
                    <li>
                        Find and open the correct folder “newswise_extension”. This folder
                        should contain the file “content.js” and the folder “icons”<br /><img class="col-sm-6" src="~/image/edgestep5.png" /><br />
                    </li>
                    <br />
                    <li>Ensure you turn on the extension.<br /><img class="col-sm-6" src="~/image/edgestep6.png" /><br /></li>
                    <br />
                </ol>
                <div class="DownloadExtention col-sm-12" align=right>
                    <a href="https://newswise.online/download/edge" class="download p-2" style="color: inherit; text-decoration: none;">DOWNLOAD NOW</a>
                </div>
            </div>
            <br />
            <br />
            <div id="Safari" class="aContent tab-pane col-sm-9 fixed-position p-2 " align=justify style="background-color:#F2F4F4; margin-right:20px; display:none">
                <h2 style="font-family:Poppins-semibold;">Install and manage extensions:<br />Safari<span style="font-family:Poppins-semibold;color:#FFBB00">.</span></h2>


                <ol style="font-family:Roboto-regular">
                    <li>
                        Activate Safari Developer Mode <br /> - Safari > Settings > Advanced > Show Developer menu in menu bar<br /><img class="col-sm-6" src="~/image/safaristep1.png" />
                        <br />
                    </li>
                    <br />
                    <li>Download NewsSpotter.app. Drag it into your applications folder<br /></li>
                    <br />
                    <li>
                        Open NewsSpotter.app, and click “Quit and Open Safari Settings”<br /><img class="col-sm-6" src="~/image/safaristep3.png" /><br />
                    </li>
                    <br />
                    <li>
                        In safari, go to the menu bar at the top and select Develop > Allow
                        unsigned extensions<br /><img class="col-sm-6" src="~/image/safaristep4.png" /><br />
                    </li>
                    <br />
                    <li>Open settings, go to “Extensions”<br /></li>
                    <br />
                    <li> Look for NewsSpotter in your extensions, and tick it<br /></li>
                    <br />
                    <li>
                        Ensure you give the necessary permissions by clicking “Always Allow
                        on Every Website”<br /><img class="col-sm-6" src="~/image/safaristep7.png" /><br />

                    </li>
                    <br />
                </ol>
                <br />
                <p><b>NOTE</b><br />  1. when you restart Safari, you may need to reselect Developer > Allow Unsigned Extensions.<br />2. You have to turn that on manually every time safari restarts.  We can't permanently activate it without paying Apple $100 for a developer account.</p>
                <div class="DownloadExtention col-sm-12" align=right>
                    <a href="https://newswise.online/download/safari" class="download p-2" style="color: inherit; text-decoration: none;">DOWNLOAD NOW</a>
                </div>
            </div>
            <br />
            <br />

        </div>

        <br />
        <br />
    </div>
</body>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;


        tabcontent = document.getElementsByClassName("aContent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }


        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }


        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    function toggleDropdown() {
        var dropdown = document.getElementById("dropdown");
        if (dropdown.style.display === "none") {
            dropdown.style.display = "block";
        } else {
            dropdown.style.display = "none";
        }
    }
</script>

