@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quiz Content";
}

<!-- 分页视图 -->


<!-- JavaScript -->
@*<div class="container">
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#page1">Page 1</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#page2">Page 2</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#page3">Page 3</button>
            </li>
        </ul>
    </nav>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="page1">
            <h1>Page 1</h1>
        </div>
        <div class="tab-pane fade" id="page2">
            <h1>Page 2</h1>
        </div>
        <div class="tab-pane fade" id="page3">
            <h1>Page 3</h1>
        </div>
    </div>

    <button onclick="goBack()" class="btn btn-secondary">返回上一页</button>
</div>

<!-- JavaScript -->
<script>
    // 获取当前标签页的 data-bs-target 属性
    function getCurrentTarget() {
        var activeTab = document.querySelector('.tab-pane.fade.show.active');
        return activeTab.id;
    }

    // 返回上一标签页
    function goBack() {
        var currentTarget = getCurrentTarget();
        var tabLinks = document.querySelectorAll('[data-bs-toggle="tab"]');
        for (var i = 0; i < tabLinks.length; i++) {
            if (tabLinks[i].getAttribute('data-bs-target') == '#' + currentTarget) {
                tabLinks[i-1].click(); // 触发单击事件
                break;
            }
        }
    }
</script>*@

<style>
    body {
        background-color: black;
    }

    .aboutLearn {
        font-family: 'Poppins-Medium';
        font-size: 11px;
        color: #B3B3B3;
    }

    .aTopic {
        position: relative;
        left: 140px;
    }

    .AboutTitle {
        font-family: 'Poppins-semibold';
        color: #FFBB00;
        margin-top: -20px;
    }

    .Back {
        color: #D9D9D9;
        font-size: 10px;
        font-family: 'Roboto-medium';
        position: relative;
        left: 50px;
    }

    .aContent {
        font-family: Roboto-regular;
        
    }
    
    .Nav {
        color: #D9D9D9;
        font-size: 10px;
        font-family: 'Roboto-medium';
    }

    .AnswerQ {
        font-family: 'Poppins-semibold';
        background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%);
        border: 0px solid;
        position: relative;
        right: 20px;
    }
    .QpageNavItem{
        margin-right:10px;
        margin-left:10px;
    }

    .QpageNavItem1 {
        
        margin-right: 10px;
        margin-left: 10px;
    }
    
 
    .QTitle{
        position:relative;
    }
    .checkbox1{
        border:0px solid;
        position: relative;
        color:black;
        background-color: #D9D9D9;
       
    }
    .checkbox1:hover {
        background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%);
    }



    .QTitle{
        position:relative;
        font-family:Poppins-medium;
    }

    input:checked + label {
        background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%);
      
        
    }

    
</style>

<body>
    
    <div class="AboutContent body-content p-1 bg-black" style="margin-top:-23px;margin-left:-15px;margin-right:120px;">
        <br />
        <div class="aTopic">
            <p class="aboutLearn">Do a</p>
            <h2 class="AboutTitle">Quiz.</h2>

        </div>
        <br />
        <div class="Back">
            <p>
                <a class="Nav" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav" asp-area="" asp-controller="Home" asp-action="Quiz">Quiz</a>
            </p>
        </div>
    </div>
        <div class="aContent  p-2 " style="background-color:#D9D9D9" align=center>
            
            <div class="QuizC col-sm-8 bg-white">
             <div class="tab-content">
             <div class="page1 tab-pane fade show active"  id="page1" role="tabpanel" aria-labelledby="page1-tab">
            <br/>
            <br/>
                
                <p class="QTitle" align=left style="margin-left:40px;">
                    Question 1/8：
                    <br />
                    Which of the following is an effective way to spot fake news?
                </p>
                <div class="chooseAnswer btn-group-sm" >
                    
                    <input type="radio" class="Q1 p-2 btn-check"  name="one" id="option" value="A" autocomplete="off"/>
                    <label for="option" class="checkbox1 btn btn-primary p-2 col-sm-8 ">
                    A. Believing every article you read
                    </label>
                <br />
                <br />
                    
                    <input type="radio" class="Q1 p-2 btn-check" name="one" id="option2" value="B" autocomplete="off" />
                    <label for="option2" class="checkbox1 btn btn-primary p-2 col-sm-8 ">
                        B. Checking multiple sources for accuracy
                </label>
                <br />
                <br />
                    
                    <input type="radio" class="Q1 p-2 btn-check" name="one" id="option3" value="C" autocomplete="off" />
                    <label for="option3" class="checkbox1 btn btn-primary p-2 col-sm-8 ">
                            C. Sharing articles without reading them
                </label>
                <br />
                <br />

                    <input type="radio" class="Q1 p-2 btn-check" name="one" value="D" id="option4" autocomplete="off" />
                    <label for="option4" class="checkbox1 btn btn-primary p-2 col-sm-8 ">
                        D. None of the above
                </label>
                <br />
                <br />
                </div>
               
                </div>
                    <div class="tab-pane fade" id="page2" role="tabpanel" aria-labelledby="page2-tab">
                    <br />
                    <br />

                    <p class="QTitle" align=left style="margin-left:40px;">
                        Question 2/8：
                       
                       <br/>
                   
                        Real or false:<br/>
                        Nasa is installing internet on the moon.
					</p>
					<img class="col-sm-8" src="~/image/moon1.png" />
                    
					<div class="chooseAnswer1 btn-group-sm" >
                        <br/>
                     
                        <input type="radio" class="Q2 p-2 btn-check" name="Two" id="optionS" value="T" autocomplete="off" />
                        <label for="optionS" class="checkbox1 btn btn-primary p-2 col-sm-8 ">
                            A. Real
                        </label>
                        <br />
                        <br />

                        <input type="radio" class="Q2 p-2 btn-check" name="Two" id="optionS2" value="F" autocomplete="off" />
                        <label for="optionS2" class="checkbox1 btn btn-primary p-2 col-sm-8 ">
                            B. False
                        </label>
                        <br />
                        <br />

                        
                        <br />
                        <br />
                    </div>

                </div>
                <div class="tab-pane fade" id="page3" role="tabpanel" aria-labelledby="page3-tab">
                    <br />
                    <br />

                    <p class="QTitle" align=left style="margin-left:40px;">
                        Question 3/8：

                        <br />

                        Real or false:<br />
                        Nasa is installing internet on the moon.
                    </p>
                    

                    <div class="chooseAnswer1 btn-group-sm">
                        <br />

                        <input type="radio" class="Q3 p-2 btn-check" name="Three" id="optionSS" value="T" autocomplete="off" />
                        <label for="optionSS" class="checkbox1 btn btn-primary p-2 col-sm-8 ">
                            A. Real
                        </label>
                        <br />
                        <br />

                        <input type="radio" class="Q3 p-2 btn-check" name="Three" id="optionSS2" value="F" autocomplete="off" />
                        <label for="optionSS2" class="checkbox1 btn btn-primary p-2 col-sm-8 ">
                            B. False
                        </label>
                        <br />
                        <br />


                        <br />
                        <br />
                    </div>

                </div>
                </div>
                <nav aria-label="Page navigation example">
                <ul class="QpageNav nav nav-pills justify-content-center" role="tablist">
                    <li class="QpageNavItem nav-item" role="presentation"><a class="nav-link btn btn-secondary" href="#1" type="button" data-bs-toggle="tab" onclick=goBack()><</a></li>
                        <li class="QpageNavItem nav-item" role="presentation"><a  class="nav-link" id="page1-tab" href="#" data-bs-toggle="tab" data-bs-target="#page1" type="button" aria-controls="page1" aria-selected="true">1</a></li>
                        <li class="QpageNavItem nav-item" role="presentation"><a class="nav-link" id="page2-tab" href="#" data-bs-toggle="tab" data-bs-target="#page2" type="button"  aria-controls="page2" aria-selected="true">2</a></li>
                    <li class="QpageNavItem nav-item" role="presentation"><a class="nav-link" id="page2-tab" href="#" data-bs-toggle="tab" data-bs-target="#page3" type="button" aria-controls="page3" aria-selected="true">3</a></li>
                    <li class="QpageNavItem nav-item" role="presentation"><a class="nav-link btn btn-secondary" href="#1" type="button" onclick=goForward()>></a></li>
                    </ul>
                </nav>
                <br />
                <br />


            </div>

        </div>
        <br/>
        <br />
        <br />
        <br />
    <script>
        // 当页面加载完成后执行此代码
        function getCurrentTarget() {
        var activeTab = document.querySelector('.tab-pane.fade.show.active');
        return activeTab.id;
    }

    // 返回上一标签页
    function goBack() {
        var currentTarget = getCurrentTarget();
        var tabLinks = document.querySelectorAll('[data-bs-toggle="tab"]');
        for (var i = 0; i < tabLinks.length; i++) {
            if (tabLinks[i].getAttribute('data-bs-target') == '#' + currentTarget) {
                tabLinks[i-1].click(); // 触发单击事件
                break;
            }
        }
    }
        function goForward() {
            var currentTarget = getCurrentTarget();
            var tabLinks = document.querySelectorAll('[data-bs-toggle="tab"]');
            for (var i = 0; i < tabLinks.length; i++) {
                if (tabLinks[i].getAttribute('data-bs-target') == '#' + currentTarget) {
                    tabLinks[i +1].click(); // 触发单击事件
                    break;
                }
            }
        }
    </script>
       

</body>
