@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quiz";
}
<style>
    body {
        background-color: black;
    }

    .aboutLearn {
        font-family: 'Poppins-Medium';
        font-size: 11px;
        color: #B3B3B3;
    }

    .aTopic {
        position: relative;
        left: 140px;
    }

    .AboutTitle {
        font-family: 'Poppins-semibold';
        color: #FFBB00;
        margin-top: -20px;
    }

    .Back {
        color: #D9D9D9;
        font-size: 10px;
        font-family: 'Roboto-medium';
        position: relative;
        left: 50px;
    }

    .aContent1 {
        font-family: Roboto-regular;
        position: relative;
		background-image: url('../Image/QuizStart1.png');
        background-size:cover;
    }

    .Nav {
        color: #D9D9D9;
        font-size: 10px;
        font-family: 'Roboto-medium';
    }
    .AnswerQ{
        font-family: 'Poppins-semibold';
        background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%);
        border: 0px solid;
        color: white;
    }
    .Start{
        font-family: 'Poppins-semibold';
        
    }
</style>

<body>
    <div class="AboutContent body-content p-1 bg-black" style="margin-top:-23px;margin-left:-15px;margin-right:120px;" align="justify">
        <br />
        <div class="aTopic">
            <p class="aboutLearn">Do a</p>
            <h2 class="AboutTitle">Quiz.</h2>

        </div>
        <br />
        <div class="Back">
            <p>
                <a class="Nav" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav" asp-area="" asp-controller="Home" asp-action="Quiz">Quiz</a>
            </p>
        </div>
        
    </div>
    <div class="aContent  p-2 " style="background-color:#F2F4F4; margin-left:-10px;margin-right:-10px" align=center>
        <div class="aContent1 col-sm-10  p-2 " align=center >
        
        <br />
        <br />
        <br />
            <br />
            <br />
            <br />
            <br />
            <div class="State col-sm-8">
            <h1 class="Start" align=left>Quiz on</h1>
            <h1 class="Start" align=left>fake news</h1>
            <br />
            <p align=left>Welcome to our quiz that helps young <br/>teenagers identify fake news. Test your<br/> knowledge and have fun while improving your<br/> critical thinking skills! Are you ready to get<br/> started? </p>
            <br />
        <form>
            <div class="StartQ" align=left >
                <button class="AnswerQ p-2" asp-area="" asp-controller="Home" asp-action="QuizContent" style="border-radius:40px;">LET'S GO</button>
            </div>
        </form>
                <br />
                <br />
                <br />
                <br />
         </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
            <br />
            <br />
            <br />
    </div>
    </div>
</body>

