@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quiz";
}
<style>
    body {
        background-color: black;
    }

    .aboutLearn {
        font-family: 'Poppins-Medium';
        font-size: 11px;
        color: #B3B3B3;
    }

    .aTopic {
        position: relative;
        left: 10%;
    }

    .AboutTitle {
        font-family: 'Poppins-semibold';
        color: #FFBB00;
        margin-top: -20px;
    }

    .Back {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
        position: relative;
        left: 50px;
    }

    .aContent1 {
        font-family: Roboto-regular;
        position: relative;
        background-image: url('../Image/QuizStart1.png');
        background-size: 100%;
        height: 100vh;
    }

    .AboutContent {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1em;
    }

    .Nav {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }
    .AnswerQ{
        font-family: 'Poppins-semibold';
        background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%);
        border: 0px solid;
        color: white;
    }
    .Start{
        font-family: 'Poppins-semibold';
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid px-0">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="AboutContent body-content p-1 bg-black text-justify">
                <div class="aTopic">
                    <p class="aboutLearn">Do a</p>
                    <h2 class="AboutTitle">Quiz.</h2>
                </div>
            </div>
            <div class="aContent p-2 bg-light">
                <div class="Back text-left">
                    <p>
                        <a class="Nav" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav" asp-area="" asp-controller="Home" asp-action="Quiz">Quiz</a>
                    </p>
                </div>
                <div class="row">
                    <div class="aContent1 col-12 col-sm-10 mx-auto p-2 ">
                        <div class="row">
                            <div class="State col-sm-8 mx-auto" style="padding-top:10%">
                                <h1 class="Start text-left">Quiz on</h1>
                                <h1 class="Start text-left">fake news</h1>
                                <p class="text-left">Welcome to our quiz that helps young teenagers identify fake news. Test your knowledge and have fun while improving your critical thinking skills! Are you ready to get started? </p>
                                <form>
                                    <div class="StartQ text-left">
                                        <button class="AnswerQ p-3" asp-area="" asp-controller="Home" asp-action="QuizContent" style="border-radius:40px;">LET'S GO</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>