@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quiz";
}
<style>
    body {
        background-color: black;
    }

    .aboutLearn {
        font-family: 'Poppins-Medium';
        font-size: 11px;
        color: #B3B3B3;
    }

    .aTopic {
        position: relative;
        left: 140px;
    }

    .AboutTitle {
        font-family: 'Poppins-semibold';
        color: #FFBB00;
        margin-top: -20px;
    }

    .Back {
        color: #D9D9D9;
        font-size: 10px;
        font-family: 'Roboto-medium';
        position: relative;
        left: 50px;
    }

    .aContent {
        font-family: Roboto-regular;
        position: relative;
        
    }

    .Nav {
        color: #D9D9D9;
        font-size: 10px;
        font-family: 'Roboto-medium';
    }
    .AnswerQ{
        font-family: 'Poppins-semibold';
        background-color:transparent;
        border: 0px solid;
        
        color: #FFBB00;
    }
    .Start{
        font-family: 'Poppins-semibold';
        color: #FFBB00;
    }
</style>

<body>
    <div class="AboutContent body-content p-1 bg-black" style="margin-top:-23px;margin-left:-15px;margin-right:120px;" align="justify">
        <br />
        <div class="aTopic">
            <p class="aboutLearn">Do a</p>
            <h2 class="AboutTitle">Quiz.</h2>

        </div>
        <br />
        <div class="Back">
            <p>
                <a class="Nav" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav" asp-area="" asp-controller="Home" asp-action="Quiz">Quiz</a>
            </p>
        </div>
        
    </div>
    <div class="aContent  p-2 " style="background-color:#F2F4F4; margin-left:-10px;margin-right:-10px" align=center>
        <div class="aContent col-sm-10  p-2 " align=center style="background-color:#F2F4F4">
        <img class="col-sm-8" style="width:100%" src="~/image/quizstart.png" />
        <br />
        <br />
        <br />
        <h1 class="Start">Quiz for test your fake news detection skills!</h1>
            <br />
            <br />
            <br />
        <form>
            <div class="StartQ" >
                <button class="AnswerQ p-3" asp-area="" asp-controller="Home" asp-action="QuizContent" style="border-radius:4px;"><img style="height:100px;width:100px;" src="~/image/play 1.png" /><br/><h4>Start</h4></button>
            </div>
        </form>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
    </div>
</body>

