@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Spot tips";
}
<style>  
   .Stip{
       display:flex;
   }
   .TipTitle{
       font-family:Poppins-semibold;
       color:white;
        position: relative;
        left: 10px;
   }
   .TipContent{
        position: relative;
        left: 20px;
   }
   .TipArtiTitle{
       font-family:Poppins-semibold;
       
   }
   .TipContent{
       margin-right:100px;
   }
   .TipCText{
       font-family:Roboto-regular;
       font-size:16px;
   }
   .TipSubTitle{
        font-family: Poppins-semibold;
        font-size: 16px;
        color: black;
   }
   .TipBack{
        background-image: url('../Image/Back.png');
        background-repeat: no-repeat;
        background-size:70% 100%;
        background-position: right center;

   }

    .Back3 {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }

    .Nav3 {
        color: #708090;
        font-size: 14px;
        font-family: 'Roboto-medium';
    }
</style>
<body>
    <div class="Stip bg-black p-3 body-content" style="margin-top:-20px;margin-left:-15px;margin-right:-15px">
        <div class="TipText">
            <br />
            <br />
            <h1 class="TipTitle">Tips of spot Fake News</h1>
            <br />
            <br />
        </div>
    </div>
    <div class="TipBack" style="margin-right:-12px;">
    <div class="TipContent col-sm-8" align=justify>
            @*<div class="Scroll" align=center>
                <button id="scroll-down-btn" runat="server" OnClick="window.scrollTo(0, document.body.scrollHeight);" style="background-color: transparent; border: none;">  <img src="~/image/down-arrow 1.png" class="downArrow" /></button>
            </div>*@
                <div class="Back3">
                    <br/>
                    <p>
                        <a class="Nav3" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  <a class="Nav3" asp-area="" asp-controller="Home" asp-action="Education">Education</a>  >  <a class="Nav3" asp-area="" asp-controller="Home" asp-action="SpotTip">Tips of spot Fake News</a>
                    </p>
                </div>
                <br />
        <br/>
        <h2 class="TipArtiTitle">How can you spot fake news?</h2>
        <p class="TipCText">
            There are several easy tips you can follow to help you identify fake news.
        </p>
        <p class="TipSubTitle">Check the Source</p>
        <p class="TipCText">
            If they're a reputable news organisation, there's a much higher chance that the story is accurate as they have more accountability.  Social media websites can also contain accurate information, however there's a much higher chance of fake news spreading as anyone can create content.
        </p>
        <p class="TipSubTitle">Check the web address of the news site</p>
        <p class="TipCText">
            Some fake news organisations will try and create a fake version of a reputable news organisation in order to attract  ad revenue.  By checking the URL of the news site, you can ensure that it is posted by the news organisation it claims.
        </p>
        <p class="TipSubTitle">Check the author</p>
        <p class="TipCText">
            Checking who the author is can be a good way of identifying if it's credible information.  If they've written anything published by a reputable news organisation, that's a good sign they're not going to try and be too misleading.  Also understanding their political affiliations can help understand their agenda.
        </p>

        <p class="TipCText">
            It can also be a problem when someone shares a screenshot of famous person's Tweet or Facebook post.   Often if they say something too surprising, if you're viewing the post of a screenshot, it could be a good idea to make a Google search, or go to the person's page directly.
        </p>
        <p class="TipSubTitle">Check for evidence</p>
        <p class="TipCText">
            When claims are made, often it's a good idea to identify if they provided any evidence.  You need to understand whether the story is based on fact or opinion and whether they've provided sources.  This also includes if anything they've stated are assumptions, and they're using this to lead you to incorrect conclusions.
        </p>
        <p class="TipSubTitle">Reverse Google Image Search</p>
        <p class="TipCText">
            This can be important when someone makes a claim and supports this with photographic evidence.  Most of the time when someone uses an image as part of fake news, they've taken the image from the internet somewhere.   By taking a screenshot of the image in their story, and running a reverse Google image search, you can identify if that image was actually taken from another source.<br />This is most important on social media, where anyone can create a story and post content.
        </p>
        <p class="TipCText">
            Sources: <br/>
                <a href="https://beconnected.esafety.gov.au/articles-and-tips/how-to-spot-fake-news" target="_blank">https://beconnected.esafety.gov.au/articles-and-tips/how-to-spot-fake-news</a>
            </p>
        <br/>
        <br />
            <h2 class="TipArtiTitle">How can you spot biased news?</h2>
            <br/>
            <p class="TipCText">
                The first easy way to identify biassed news, is to make yourself aware of what sort of bias the content publisher generally has.  This works well for media organisations and journalists as they're well known, however for everyday social media posts you need to identify this yourself.
                <br/>
                To become aware of the bias of the content publisher, the easy way is to use a website such as mediabiasfactcheck.com or allsides.com.  A site such as this will give you you an idea of what sort of political beliefs the publisher generally has and helps you know what to look for.
                <br/>
                Unfortunately, all sources will have some form of bias- whether they're social media posts or a credible journalist.  If we want to consume content, we need to be able to read biased information and identify what to believe and what not to believe.  The following five steps initially designed by the American Press Institute can help you in identifying this.
                <br/>
            </p>
            <p class="TipSubTitle">
                1. Type: What kind of content is this?
            </p>
            <p class="TipCText">
                The content could be a news story, an opinion piece, advertising or even satire.  By identifying this first, some stories can be identified quickly as having an agenda.
            </p>
            <p class="TipSubTitle">
                2. Source: Who and what are the sources cited, and why should I believe them?

            </p>
            <p class="TipCText">
                With so much content posted online, you can find sources for almost anything you want to claim.  It's often a good idea to check who the source is.  If they're a credible mainstream organisation, that's a good sign.  But if their some fringe or small group, often that could be a sign that the author had to go and look for information that backs up their claim.
            <br/>
                Not all stories or information will require a source either.  Many public events can be assumed to be true, as lots of people were there to witness it, or it's a well documented event that it's easy enough for you to find your own source.

            </p>
            <p class="TipSubTitle">
                3. Evidence: What's the evidence and how was it vetted?
            </p>
            <p class="TipCText">
                The point of the source is to provide proof.  Evidence is that proof.
                <br/>
                The idea here is to identify whether this proof provided is accurate and each individual piece of evidence isn't taken out of context.

            </p>
            <p class="TipSubTitle">
                4. Interpretation: Is the main point of the piece proven by the evidence provided?

            </p>
            <p class="TipCText">
                An article or a post could contain a lot of credible evidence all entirely factual.  However, the author could then draw conclusions that isn't supported by the evidence.  Or the author adds in extra assumptions to draw these conclusions.
            </p>
            <p class="TipSubTitle">
                5. Completeness: What's missing?

            </p>
            <p class="TipCText">
                This is where it gets hard, and it's easy to miss something.  In this step we need to identify whether the author has only presented one side of the story.  It's identifying whether there's any information that should've been there, but it wasn't included.  This could include any information about the event that possible could contradict what the author's interpretation was.
            </p>
            <br/>
            <p class="TipCText">
                Source:
                <br/>
                <a href="https://www.americanpressinstitute.org/publications/six-critical-questions-can-use-evaluate-media-content/" target="_blank">https://www.americanpressinstitute.org/publications/six-critical-questions-can-use-evaluate-media-content/</a>
                </p>
        <br/>
        <br />
        <br />
        <br />
    </div>
    </div>
 </body>
