@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Spot tips";
}
<style>  
   .Stip{
       display:flex;
   }
   .TipTitle{
       font-family:Poppins-semibold;
       color:white;
        position: relative;
        left: 70px;
   }
   .TipContent{
        position: relative;
        left: 70px;
   }
   .TipArtiTitle{
       font-family:Poppins-semibold;
       
   }
   .TipContent{
       margin-right:150px;
   }
   .TipCText{
       font-family:Roboto-regular;
       font-size:13px;
   }
   .TipSubTitle{
        font-family: Poppins-semibold;
        font-size: 13px;
        color: black;
   }
   .TipBack{
        background-image: url('../Image/Back.png');
        background-size: cover;
   }
</style>
<body>
    <div class="Stip bg-black p-3 body-content" style="margin-top:-20px;margin-left:-15px;margin-right:-15px">
        <div class="TipText">
            <br />
            <br />
            <h1 class="TipTitle">Tips of spot Fake News</h1>
            <br />
            <br />
        </div>
    </div>
    <div class="TipBack" style="margin-right:-12px;">
    <div class="TipContent" align=justify>
        <br/>
        <h2 class="TipArtiTitle">How can you spot fake news?</h2>
        <p class="TipCText">
            There are several easy tips you can follow to help you identify fake news.
        </p>
        <p class="TipSubTitle">Check the Source</p>
        <p class="TipCText">
            If they're a reputable news organisation, there's a much higher chance that the story is accurate as they have more accountability.  Social media websites can also contain accurate information, however there's a much higher chance of fake news spreading as anyone can create content.
        </p>
        <p class="TipSubTitle">Check the web address of the news site</p>
        <p class="TipCText">
            Some fake news organisations will try and create a fake version of a reputable news organisation in order to attract  ad revenue.  By checking the URL of the news site, you can ensure that it is posted by the news organisation it claims.
        </p>
        <p class="TipSubTitle">Check the author</p>
        <p class="TipCText">
            Checking who the author is can be a good way of identifying if it's credible information.  If they've written anything published by a reputable news organisation, that's a good sign they're not going to try and be too misleading.  Also understanding their political affiliations can help understand their agenda.
        </p>

        <p class="TipCText">
            It can also be a problem when someone shares a screenshot of famous person's Tweet or Facebook post.   Often if they say something too surprising, if you're viewing the post of a screenshot, it could be a good idea to make a Google search, or go to the person's page directly.
        </p>
        <p class="TipSubTitle">Check for evidence</p>
        <p class="TipCText">
            When claims are made, often it's a good idea to identify if they provided any evidence.  You need to understand whether the story is based on fact or opinion and whether they've provided sources.  This also includes if anything they've stated are assumptions, and they're using this to lead you to incorrect conclusions.
        </p>
        <p class="TipSubTitle">Reverse Google Image Search</p>
        <p class="TipCText">
            This can be important when someone makes a claim and supports this with photographic evidence.  Most of the time when someone uses an image as part of fake news, they've taken the image from the internet somewhere.   By taking a screenshot of the image in their story, and running a reverse Google image search, you can identify if that image was actually taken from another source.<br />This is most important on social media, where anyone can create a story and post content.
        </p>
        <p class="TipCText">
            Sources: <br/>
            <a href="https://beconnected.esafety.gov.au/articles-and-tips/how-to-spot-fake-news">https://beconnected.esafety.gov.au/articles-and-tips/how-to-spot-fake-news</a>
        <br/>
        <br />
        <br />
        <br />
    </div>
    </div>
 </body>
