body {
}
@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/roboto-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/poppins-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-regular';
    src: url('../fonts/inter-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-black';
    src: url('../fonts/inter-black.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-bold';
    src: url('../fonts/inter-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-extrabold';
    src: url('../fonts/inter-extrabold.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-extralight';
    src: url('../fonts/inter-extralight.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-light';
    src: url('../fonts/inter-light.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-medium';
    src: url('../fonts/inter-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'inter-semibold';
    src: url('../fonts/inter-semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-thin';
    src: url('../fonts/inter-thin.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-black';
    src: url('../fonts/poppins-black.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-blackitalic';
    src: url('../fonts/poppins-blackitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/poppins-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-bolditalic';
    src: url('../fonts/poppins-bolditalic.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-extrabold';
    src: url('../fonts/poppins-extrabold.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-extrabolditalic';
    src: url('../fonts/poppins-extrabolditalic.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-extralight';
    src: url('../fonts/poppins-extralight.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-extralightitalic';
    src: url('../fonts/poppins-extralightitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-italic';
    src: url('../fonts/poppins-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-light';
    src: url('../fonts/poppins-light.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-lightitalic';
    src: url('../fonts/poppins-lightitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-medium';
    src: url('../fonts/poppins-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-mediumitalic';
    src: url('../fonts/poppins-mediumitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-semibold';
    src: url('../fonts/poppins-semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-semibolditalic';
    src: url('../fonts/poppins-semibolditalic.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-thin';
    src: url('../fonts/poppins-thin.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-thinitalic';
    src: url('../fonts/poppins-thinitalic.ttf') format('truetype');
}
