@model IEnumerable<NewsWise.Models.ClaimReviewViewModel>

@{
    ViewData["Title"] = "Search Result";
}
<style>
    .NewsTitle {
        font-family:Poppins-semibold;
    }
    .SearchResult {
        background-color: #D9D9D9
    }

    .SearchBar1 {
        font-family: 'Poppins-regular';
        font-size: 12px;
    }

    .SearchBut1 {
        font-family: 'Poppins-semibold';
        font-size: 12px;
    }

    .Back5 {
        color: #708090;
        font-size: 16px;
        font-family: 'Roboto-medium';
        position: relative;
        left: 50px;
    }

    .Nav5 {
        color: #708090;
        font-size: 16px;
        font-family: 'Roboto-medium';
    }

    .ResultTitle {
        font-family: Poppins-semibold;
        display: flex;
        position: relative;
        left: 100px
    }

    .Retle1 {
        color: #FFBB00;
    }
    .Node{
        font-family:Poppins-semibold;
        
        color: #FFBB00;
    }
    .View{
        font-family:Roboto-regular;
    }
    .Link{
        font-family: Roboto-regular;
        color: #FFBB00;
    }
    .Rating{
         font-family:Poppins-semibold;
    }
    .RatingStatus{
        font-family:Poppins-semibold;
        color: #FFBB00;
        font-size:20px;
    }
</style>
<div class="SearchTitle bg-black" style="margin-top:-20px;margin-left:-15px;margin-right:-15px">
    <br />
    <br />
    <br />
    @*<form asp-controller="ClaimReviews" asp-action="Index" method="get">
        <div class="searchBody" align=center>
            <input type="text" id="searchQuery" name="searchString" class="textfield p-3 mt-auto text-center" placeholder="SEARCH YOUR NEWS HERE TO FIND THE TRUTH ..." style="width:50%; background-color:#F5F5F5;border:0px solid;" />
            <button type="submit" class="SearchBut p-3" value="SEARCH" style="background-color: #FFBB00;border:0px solid;">Search</button>
        </div>
    </form>*@
    <form asp-controller="ClaimReviews" asp-action="Index" method="get" onsubmit="showLoadingAnimation()">
        <div class="searchBody" align="center">
            <input type="text" id="searchQuery" name="searchString" class="textfield p-3 mt-auto text-center" placeholder="SEARCH YOUR NEWS HERE TO FIND THE TRUTH ..." style="width:50%; background-color:#F5F5F5;border:0px solid;" />
            <button type="submit" class="SearchBut p-3" value="SEARCH" style="background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%);border:0px solid; border-radius:4px;">Search</button>
            
            <div class="searchAnimation">
                <div id="loadingOverlay" class="loading-spinner"></div>
            </div>

        </div>
    </form>
    <br />
    <br />
    <br />
</div>

<div class="SearchResult" style="margin-left:-15px;margin-right:-15px">
    <div class="Back5">
        <p>
            <a class="Nav5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  >  Search Result
        </p>
    </div>
    <div class="ResultTitle">
        <div class="Retle">
            <h1>Search Results</h1>
        </div>
        <div class="Retle1">
            <h1>.</h1>
        </div>
    </div>
    <div class="container bg-white">
        <hr />
        <div class="col-sm-8">
            @{
                int count = 0;
              } 
        
                @foreach (var item in Model)
                {
                    count++;


                    {
                        <span class="Node">.</span>

                        <span class="NewsTitle fs-5">@Html.DisplayFor(modelItem => item.Title)</span>
                        <br />
                        <span class="View">
                            &nbsp;&nbsp;Review Date: @Html.DisplayFor(modelItem => item.ReviewDate)
                        </span>
                        <br />
                        <span class="View">&nbsp;&nbsp;View this article: </span>
                        <a class="Link" href=@Html.DisplayFor(modelItem => item.Url) target="_blank">@Html.DisplayFor(modelItem => item.Title)</a>
                        <br />
                        <span class="Rating fs-5">&nbsp;&nbsp;Rating: </span>
                        <span class="RatingStatus">@Html.DisplayFor(modelItem => item.TextualRating)</span>
                        <br />
                        <br />
                        @if (count != Model.Count())
                        {
                            <hr />
                        }
                        @* @if(count ==100){
                    break;
                }*@
                }
                
        }
        </div>
    </div>
    <br/>
    <br />
    <br />
    <br />
</div>


@section Scripts{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#searchQuery").autocomplete({
                source: '/Home/Autofill'
            });

            // Handle form submission
            $("form").on("submit", function () {
                showLoadingAnimation();
            });
        });
        function showLoadingAnimation() {
            $("#loadingOverlay").show();
        }
    </script>
}
